<!DOCTYPE html>

<html>

<head>
    <title>Yonce's Lemonade Stand</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="LemonadeApp">
    <h1>Queen Bey's Lemoneyde</h1>
    <!--<section ng-controller="StatsController">
        <ul>
            <li ng-repeat="stat in stats">
                <h2>{{ stat.label }}</h2>
                <p>{{ stat.value }}</p>
            </li>
        </ul>
    </section>-->
    <stat-section stat="stat"></stat-section>
    <!--<section ng-controller="IngredientListController">
        <ul>
            <li ng-repeat="ingredient in ingredients">
                <h2>Item: {{ ingredient.name }}</h2>
                <p>Available: {{ ingredient.count }}</p>
                <p>Cost: {{ ingredient.price }}</p>
            </li>
        </ul>
    </section>-->
</body>

</html>